@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@media (max-width: 486px) {
  * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: "Source Sans 3", serif;
  }

  .navbar {
      width: 360px;
      display: flex;
      justify-content: space-between;
      background-color: #fff;
      height: 20px;
      padding: 10px 16px;
  }

  nav h2 {
      color: #003262;
      font-weight: 600;
      font-size: 18px;
      margin: 24px 10px;
      line-height: 20.11px;
  }

  .navbar button {
      background: none;
      border: none;
      color: black;
      /* margin: 20px 320px; */
      font-size: 24px;
      padding-top: 20px;
      margin-right: -40px;
      float: right;
      cursor: pointer;
  }

  .header {
    background: linear-gradient(135deg, #031322, #0b588f);
      width: 415px;
      margin-top: 60px;
      height: 480px;
      color: #fff;
  }

  .header h1 {
      font-size: 35px;
      line-height: 39.9px;
      font-family: "Montserrat";
      font-style: normal;
      color: #FFFFFF;
      margin: 70px 18px;
      padding: 15px 10px;
  }

  .header p {
      font-size: 18px;
      font-weight: 400;
      font-size: 18px;
      line-height: 24.8px;
      margin-top: -80px;
      padding: 25px;

  }

  .btn {
      position: relative;
  }

  .btn button {
      background-color: #DFA100;
      padding: 12px 18px;
      margin-left: 20px;
      gap: 8px;
      border-radius: 20px;
      border: none;
      color: #fff;
      width: 190px;
      height: 42px;
      font-weight: 400px;
      text-align: left;
      line-height: 17.6px;
      font-size: 15px;
  }
  
  .icon {
    display: flex;
    align-items: center;
    position: absolute;
    top: 11px;
    left: 170px;
  }
  
  .header img {
      width: 96%;
      margin: 10px 18px;
      display: block;
      border: 3px solid white;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 5px;
  }

  .logo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      width: 340px;
      gap: 18px;
      height: 19px;
      margin-top: 115px;
      margin-left: 14px;
  }

  .logo img {
      width: 84px;
      /* height: 20px; */
      border-top-left-radius: 0px;
  }

  .vision-mission-section {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 410px;
  }

  .vision {
      background-color: #FFEEEE;
      padding: 20px;
  }

  .vision h2,
  .mission h2 {
      font-family: "Montserrat";
      font-size: 19px;
      line-height: 20.72px;
      font-weight: 700px;
      margin-bottom: 10px;
  }

  .vision p,
  .mission p {
      font-size: 16px;
      line-height: 20.9px;
      color: #43444F;
  }

  .mission {
      background-color: powderblue;
      padding: 20px;
      /* width: 410px; */
  }

}